.body {
    margin: 0;
    padding: 0;
    background-color: rgb(231, 224, 224);   
}

.top-header {
    position: relative;
    display: flex;
    text-wrap: nowrap;
    justify-content: center;
    height: 60px;
    top: -10px;
    background-color: black;
    align-items: center;
    margin: auto;
    width: 101%;
    margin-left: -8px;
}

.top-header h1 {
    color: white;
    margin: auto; 
    display: flex;
    position: relative;
    font-size: 20px;
}

.header-name {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 120px;
    font-size: 22px;
}

.interest-header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 120px;
    font-size: 15px;
}

.about-me-header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.about-me-header p {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 120px;
    font-size: 17px;
    color: black;
}

.link-header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 120px;
    margin: auto;
    gap: 5px;
}

.resume-button {
    width: 70px;
    height: 45px;
    background-color: black;
    font-size: 10px;
    border-radius: 5px;
}

.link-header h1 {
    font-size: 18px;
    justify-self: center;
    display: flex;
    margin-left: 5px;
    color: white;
}

.github-link {
    width: 30px;
    height: 30px;
    text-decoration: none;
    color: black;
}

.linkedin-link {
    width: 30px;
    height: 30px;
    text-decoration: none;
    color: black;
}


/********EDUCATION SECTION**************************************************************************/


.education-header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 220px;
    width: 1100px;
    height: 200px;
    background-color: #555758;   
    border-radius: 10px;
}

.education-header p {
    margin-bottom: 10px; 
}

.education-header h1 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: auto;
    top: -70px;
}

.education-name {
    display: flex !important;
    position: absolute !important;
    align-items: center !important;
    justify-content: center !important;
    margin: auto !important;
    top: 130px !important;  
    font-size: 10px;
}

.education-name p {
    display: flex !important;
    position: absolute !important;
    align-items: center !important;
    justify-content: center !important;
    margin: auto !important;
    top: -30px !important;  
    font-size: 14px !important;
    text-wrap: nowrap;
    color: white;
}

.club-header {
    display: flex !important;
    position: absolute !important;
    align-items: center !important;
    justify-content: center !important;
    margin: auto !important;
    top: 120px !important;  
    font-size: 14px !important;
    text-wrap: nowrap;
    color: white;
}


/********WORK EXPERIENCE SECTION**************************************************************************/


.work-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 1100px;
    height: 1000px;
    background-color: #555758;   
    margin: auto;
    margin-top: 80px;  
    border-radius: 15px;  
}

.work-header h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0; 
    top: -20px;
    display: flex;
    position: relative;
    
}


.inner-box {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    width: 1060px;
    height: 200px;
    background-color: grey;
    border-radius: 10px;
    position: relative;
    text-wrap: nowrap;
}

.inner-box h1 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 25px; 
    top: -70px; 
    left: 530px;
    margin: auto;
    display: flex;
    position: relative;
    align-self: center;
}

.inner-box p {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: -320px;
    margin-top: 20px;
    text-align: left;
    position: relative; 
}



.inner-box1 {
    position: absolute;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    width: 1060px;
    height: 200px;
    background-color: grey;
    border-radius: 10px;
    position: relative;
    text-wrap: nowrap;
}

.inner-box1 h1 {
    top: 5px;
    font-size: 25px;
}

.inner-box1 p {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 10px;
    margin-top: 20px;
    text-align: left;
    position: relative; 
}



.inner-box2 {
    position: absolute;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    width: 1060px;
    height: 200px;
    background-color: grey;
    border-radius: 10px;
    position: relative;
    text-wrap: nowrap;
}

.inner-box2 h1 {
    top: 5px;
    font-size: 25px;
}

.inner-box2 p {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 10px;
    margin-top: 20px;
    text-align: left;
    position: relative; 
}

.inner-box3 {
    position: absolute;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    width: 1060px;
    height: 200px;
    background-color: grey;
    border-radius: 10px;
    position: relative;
    text-wrap: nowrap;
}

.inner-box3 h1 {
    top: 5px;
    font-size: 25px;
}

.inner-box3 p {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    left: 10px;
    margin-top: 20px;
    text-align: left;
    position: relative; 
}


/********PROJECT SECTION**************************************************************************/


.project-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 1100px;
    height: 620px;
    background-color: #555758;   
    margin: auto;
    margin-top: 80px;  
    border-radius: 15px;  
}

.project-header h1 {
    justify-content: center;
    
    font-size: 25px;
    top: -30px;
    display: flex;
    position: relative;
}

.inner-box4  {
    display: flex;
    margin-top: -40px;
    width: 1060px;
    height: 550px;
    background-color: grey;
    border-radius: 10px;
    flex-direction: column;
}

.image1 {
    display: flex;
    margin: auto;
    justify-self: center;
    align-items: center;
    position: relative;
    top: 20px;
}

.bond-image {
    border-top-left-radius: 15px;
}
.trading-image {
    border-top-right-radius: 15px;
}

.bond-image,
.options-image,
.market-dashboard-image,
.trading-image {
    position: relative;
    display: flex;
    top: 0px;
    width: 250px;
    height: 270px;
}

.projects {
    background-color: rgb(195, 181, 181);
    width: 1000px;
    height: 250px;
    display: flex;
    flex-direction: row; 
    left: 10px;
    position: relative;
    margin: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}


/********PROJECT 1 CORPORATE BOND PRICER**************************************************************************/

.project1 {
    max-width: 270px;
    max-height: 250px;  
    display: flex;
    position: relative;
    justify-content: center;
    justify-self: center;
}

.project1-explain {
    width: 250px;
    height: 270px;
    max-width: 270px;
    max-height: 250px;
    flex-direction: row;
    display: flex;
    position: relative;
}

.hidden-text1 {
    display: flex;
    position: relative;
    top: 5px;
    font-size: 20px;
    left: 40px;
    text-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    max-height: 20px;
}

.project1-description p {
    text-align: center; 
    color: black;
    left: -149px;
    top: 20px;
    position: relative;
    max-width: 200px;
    width: 200px;
}

.github-link1 {
    width: 30px;
    height: 30px;
    text-decoration: none;
    color: black;
    display: flex;
    position: relative;
    top: 10px;
    left: -65px;
    flex-direction: column;
}



/********PROJECT 2 OPTIONS SCREENER**************************************************************************/


.hidden-text2 {
    display: flex;
    position: relative;
    top: 5px;
    font-size: 20px;
    left: 55px;
    text-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    max-height: 20px;
}

.project2-description p {
    text-align: center; 
    color: black;
    left: -115px;
    top: 20px;
    position: relative;
    max-width: 200px;
    width: 200px;
}

.github-link2 {
    display: flex;
    position: relative;
    top: 10px;
    left: -30px;
    flex-direction: column;
    width: 30px;
    height: 30px;
    text-decoration: none;
    color: black;
}
/********PROJECT 3 STOCK MARKET DASHBOARD**************************************************************************/


.hidden-text3 {
    display: flex;
    position: relative;
    top: 5px;
    font-size: 20px;
    left: 25px;
    text-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    max-height: 20px;
}

.project3-description p {
    text-align: center; 
    color: black;
    left: -173px;
    top: 20px;
    position: relative;
    max-width: 200px;
    width: 200px;
}

.github-link3 {
    display: flex;
    position: relative;
    top: 10px;
    left: -85px;
    flex-direction: column;
    width: 30px;
    height: 30px;
    text-decoration: none;
    color: black;
}

/********PROJECT 4 STOCK TRADING SIMULATOR**************************************************************************/


.hidden-text4 {
    display: flex;
    position: relative;
    top: 5px;
    font-size: 20px;
    left: 25px;
    text-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    max-height: 20px;
}

.project4-description p {
    text-align: center; 
    color: black;
    left: -170px;
    top: 20px;
    position: relative;
    max-width: 200px;
    width: 200px;
}

.github-link4 {
    display: flex;
    position: relative;
    top: 10px;
    left: -80px;
    flex-direction: column;
    width: 30px;
    height: 30px;
    text-decoration: none;
    color: black;
}


/********SKILLS SECTION**************************************************************************/


.skills-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 1100px;
    height: 160px;
    background-color: #555758;   
    margin: auto;
    margin-top: 80px;  
    border-radius: 15px;  
}

.skills-header h1 {
    top: -67px !important;
    font-size: 25px;
    display: flex;
    position: relative;
    left: 480px;
}

.inner-box5  {
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    width: 1060px;
    height: 100px;
    background-color: grey;
    border-radius: 10px;
    position: relative;
    text-wrap: nowrap;
}

.skill-list {
    max-width: 950px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    list-style: none;
    font-size: 20px;
    margin: auto;
    position: relative;
}

.style-button {
    height: 30px;
    background-color: rgb(195, 181, 181);
    border-radius: 5px;
    display: flex;
    position: relative;
    resize: horizontal;
    padding: 0 10px;
    left: -60px;
    top: 0px;
    margin: auto;
}



/********RESUME SECTION**************************************************************************/


.resume-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 1100px;
    height: 1150px;
    background-color: #555758;   
    margin: auto;
    margin-top: 80px;  
    border-radius: 15px;  
}

.resume-header h1 {
    top: -5px !important;
    font-size: 25px;
    display: flex;
    position: relative;
    margin: auto;
}

.inner-box6  {
    top: -15px;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    width: 1060px;
    height: 1090px;
    background-color: grey;
    border-radius: 10px;
    position: relative;
    text-wrap: nowrap;
    flex-direction: column;
    text-align: center;
}

.resume {
    top: -10px;
    position: relative;
    border-radius: 15px;
    max-width: 100%;
    height: 1050px;
    /*height: 95%;*/
    width: 95%;
}
    

/********CONTACT ME SECTION**************************************************************************/


.contact-me-header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;   
    margin: auto;
    margin-top: 80px;  
    border-radius: 15px;  
    font-weight: 0.175;
    gap: 10px;
}

.email-button {
    padding: 0 10px;
    height: 45px;
    background-color: black;
    font-size: 10px;
    border-radius: 5px;
}

.contact-me-header h1 {
    font-size: 18px;
    justify-self: center;
    display: flex;
    margin-left: 5px;
    color: white;
    text-wrap: nowrap;
}



/********NAME SECTION**************************************************************************/


.name-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;   
    margin: auto;
    margin-top: 80px;  
    border-radius: 15px;  
    font-weight: 0.175;
}

